<form  (ngSubmit)="onSubmit()" #emailForm="ngForm">
  <input
    required
    name="email"
    [(ngModel)]="email"
    type="email"
    pattern=".+@.+\..+"
    #emailControl="ngModel"
  />
  <ng-container *ngIf="emailForm.invalid && emailControl.touched">
    <div *ngIf="emailControl.errors.required">
      You must enter an email
    </div>
    <div *ngIf="emailControl.errors.pattern">
      Please enter a valid email
    </div>
  </ng-container>
  <button [disabled]="emailForm.invalid">
    Submit
  </button>
</form>

<hr />
<div>Is form valid: {{ emailForm.valid }} </div>
<div>Form values: {{ emailForm.value | json }} </div>
